/* Zero */
.zero-container {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.zero-content {
  display: flex;
  align-items: center;
  gap: 22px;
  padding-top: 62px;
}

.zero-content-there {
  display: flex;
  align-items: center;
  gap: 10px;
}

.zero-weather-one {
  width: 180px;
  height: 180px;
}

.zero-icon {
  width: 20px;
  height: 28px;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.shake-animation {
  animation: shake 1s ease-in-out infinite;
}

.zero-city {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.zero-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.zero-temperature {
  width: 212px;
  height: auto;
  color: #fff;
  font-family: Inter;
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.zero-weather-text {
  color: #fff;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  margin-left: 100px;
  line-height: normal;
}
@media (max-width: 768px) {
  .zero-container {
    display: flex;
    flex-direction: column;
  }
  .zero-weather-text {
    color: #fff;
    font-family: Inter;
    font-size: 26px;

    font-style: normal;
    font-weight: 500;
    margin-left: 0px;
    line-height: normal;
  }
  .zero-content {
    gap: 10px;
    margin-left: 60px;

    padding-top: 0px;
  }
  .zero-content-two {
    display: flex;
    flex-direction: row;
  }
  .zero-temperature {
    height: auto;
    color: #fff;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    margin-left: 20px;
    line-height: normal;
  }
}
