/* Five */
.five-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.entry-text {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 8px;
  margin-top: 2px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
